:root {
	--color-dark: #070707;
	--color-light: #ffffff;
	--color-gray: #f6f6f6;
	--color-gray-alt: #828282;

	--border: 1px solid var(--color-dark);

	--font-family-base: 'Roboto', sans-serif;

	--container-width: 950px;
	--container-padding-x: 20px;

	--transition-duration: 0.2s;
}
